@font-face {
    font-family: 'bebas_neue_cyrillicregular';
    src: url('/fonts/bebas_neue_cyrillic-webfont.eot')/*tpa=http://ten-ten.ru/ulyssenardin/style/bebas_neue_cyrillic-webfont.eot*/;
    src: url('/fonts/bebas_neue_cyrillic-webfont.eot-#iefix')/*tpa=http://ten-ten.ru/ulyssenardin/style/bebas_neue_cyrillic-webfont.eot?#iefix*/ format('embedded-opentype'),
    url('/fonts/bebas_neue_cyrillic-webfont.woff')/*tpa=http://ten-ten.ru/ulyssenardin/style/bebas_neue_cyrillic-webfont.woff*/ format('woff'),
    url('/fonts/bebas_neue_cyrillic-webfont.ttf')/*tpa=http://ten-ten.ru/ulyssenardin/style/bebas_neue_cyrillic-webfont.ttf*/ format('truetype'),
    url('/fonts/bebas_neue_cyrillic-webfont.svg#bebas_neue_cyrillicregular')/*tpa=http://ten-ten.ru/ulyssenardin/style/bebas_neue_cyrillic-webfont.svg#bebas_neue_cyrillicregular*/ format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'Myriad Pro';
    src: url('/fonts/MyriadPro-BoldCond.eot-#iefix')/*tpa=http://ten-ten.ru/ulyssenardin/style/MyriadPro-BoldCond.eot?#iefix*/ format('embedded-opentype'),
    url('/fonts/MyriadPro-BoldCond.otf')/*tpa=http://ten-ten.ru/ulyssenardin/style/MyriadPro-BoldCond.otf*/  format('opentype'),
    url('/fonts/MyriadPro-BoldCond.woff')/*tpa=http://ten-ten.ru/ulyssenardin/style/MyriadPro-BoldCond.woff*/ format('woff'),
    url('/fonts/MyriadPro-BoldCond.ttf')/*tpa=http://ten-ten.ru/ulyssenardin/style/MyriadPro-BoldCond.ttf*/  format('truetype'),
    url('/fonts/MyriadPro-BoldCond.svg#MyriadPro-BoldCond')/*tpa=http://ten-ten.ru/ulyssenardin/style/MyriadPro-BoldCond.svg#MyriadPro-BoldCond*/ format('svg');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Myriad Pro';
    src: url('/fonts/MyriadPro-Cond.eot-#iefix')/*tpa=http://ten-ten.ru/ulyssenardin/style/MyriadPro-Cond.eot?#iefix*/ format('embedded-opentype'),
    url('/fonts/MyriadPro-Cond.otf')/*tpa=http://ten-ten.ru/ulyssenardin/style/MyriadPro-Cond.otf*/  format('opentype'),
    url('/fonts/MyriadPro-Cond.woff')/*tpa=http://ten-ten.ru/ulyssenardin/style/MyriadPro-Cond.woff*/ format('woff'),
    url('/fonts/MyriadPro-Cond.ttf')/*tpa=http://ten-ten.ru/ulyssenardin/style/MyriadPro-Cond.ttf*/  format('truetype'),
    url('/fonts/MyriadPro-Cond.svg#MyriadPro-Cond')/*tpa=http://ten-ten.ru/ulyssenardin/style/MyriadPro-Cond.svg#MyriadPro-Cond*/ format('svg');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Myriad Pro';
    src: url('/fonts/MyriadPro-Light.eot-#iefix')/*tpa=http://ten-ten.ru/ulyssenardin/style/MyriadPro-Light.eot?#iefix*/ format('embedded-opentype'),
    url('/fonts/MyriadPro-Light.otf')/*tpa=http://ten-ten.ru/ulyssenardin/style/MyriadPro-Light.otf*/  format('opentype'),
    url('/fonts/MyriadPro-Light.woff')/*tpa=http://ten-ten.ru/ulyssenardin/style/MyriadPro-Light.woff*/ format('woff'),
    url('/fonts/MyriadPro-Light.ttf')/*tpa=http://ten-ten.ru/ulyssenardin/style/MyriadPro-Light.ttf*/  format('truetype'),
    url('/fonts/MyriadPro-Light.svg#MyriadPro-Light')/*tpa=http://ten-ten.ru/ulyssenardin/style/MyriadPro-Light.svg#MyriadPro-Light*/ format('svg');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: RockwellBold;
    src: url('/fonts/RockwellCondensed_Bold.ttf')/*tpa=http://ten-ten.ru/ulyssenardin/style/MyriadPro-Light.ttf*/;
}

@font-face {
    font-famili: HelveticaBlack;
    src: url('/fonts/HelveticaNeueCyr-Black.otf');
}


/*body, h1, h2, h3, h4, h5, h6{font-family: 'bebas_neue_cyrillicregular', sans-serif; font-weight: normal;}*/
/*@font-face {font-family: 'Open Sans', sans-serif;}*/

.cf:after,.cf:before {content: '';display: table;}
.cf:after {clear: both;}
.cf {zoom: 1;}

.resize {
    position: relative;
    width: 960px;
    margin: 0 auto;
}

.fll{
    float: left;
}
.flr{
    float: right;
}

.menuWrapper ul li {
    float: left;
    line-height: 50px;
    margin: 0 10px;
    position: relative;
}

.menuWrapper ul li a {
    color: #82888d;
    font-size: 25px;
    text-transform: uppercase;
}

.infoWrapper ul {
    float: left;
    text-align: left;
}
.infoWrapper ul li {
    float: none;
    margin: 25px 0px 0;
    width: 525px;
}
.infoWrapper ul li p{
    color: #252f3c;
    font-family: "Myriad Pro";
    font-size: 24px;
    font-weight: 400;
    line-height: 1;
    padding-top: 20px;
    text-transform: uppercase;
    word-spacing: 5px;
}

.cycle-slideshow{
    position: relative;
}
#prevSlide{
    position: absolute;
    display: block;
    width: 32px;
    height: 51px;
    background: url('/img/main_new/arr_l.png')/*tpa=http://ten-ten.ru/ulyssenardin/img/arr_l.png*/ no-repeat;
    margin-left: 370px;
    bottom:-19px;
    z-index: 10;
}
#nextSlide{
    position: absolute;
    display: block;
    width: 32px;
    height: 51px;
    background: url('/img/main_new/arr_r.png')/*tpa=http://ten-ten.ru/ulyssenardin/img/arr_r.png*/ no-repeat;
    right: 0;
    margin-right: 370px;
    bottom:-19px;
}

/*h1 {*/
/*color: #fff;*/
/*line-height: 1;*/
/*margin-top: 15px;*/
/*text-align: center;*/
/*text-transform: uppercase;*/
/*font-size: 69px !important;*/
/*}*/

body {
    background: none;
    color: #000;
    font-family: "bebas_neue_cyrillicregular",Myriad Pro,Arial,Helvetica,sans-serif;
    font-size: 15px;
    font-weight: normal;
    margin: 0;
}

.auth-menu-list {
    float: right;
    width: auto !important;
}

.auth-menu-list li {
    margin: 4px 0 0 !important;
}

.auth-menu.auth {
    border-right: 2px solid #AB4507;
    background-color: #FF7113;
    color: rgb(64, 32, 0);
    border-radius: 1px 0 0 1px;
}

.auth-menu.reg {
    border-left: 2px solid #F9CF85;
    color: rgb(64, 32, 0);
    border-radius: 0 1px 1px 0;
}

.auth-menu {
    text-decoration: none;
    width: 128px;
    height: 37px;
    background-color: #FE9D00;
    border: 1px solid #F9CF85;
    display: table-cell;
    text-transform: uppercase;
    font-size: 23px;
    line-height: 37px;
    margin: 4px auto;
    outline: medium none;
    padding: 0;
    text-align: center;
    text-decoration: none;
    text-indent: 0;
    text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.67);
}

.sub-title {
    color: #FFC038;
    text-transform: uppercase;
    text-align: center;
    font-size: 50px;
    letter-spacing: 7px;
}

.infoWrapper {
    background: url('/img/main_new/woman.jpg') no-repeat !important;
    height: 846px !important;
    margin: 0 auto;
}
.firstWrapper {
    background: url('/img/main_new/header.jpg') no-repeat !important;
    height: 666px !important;
    margin: 50px auto 0px;
}

.globalWrapper {
    box-shadow: 0 0 10px 0 black;
    height: auto;
    margin: 0 auto;
    max-width: 1424px;
    min-width: 1280px;
    overflow: hidden;
    position: relative;
}

.menuWrapper {
    background: none repeat scroll 0 0 #000000;
    height: 50px;
    left: 50%;
    margin-left: -713px;
    position: fixed;
    top: 0;
    width: 1425px;
    z-index: 1002;
}

.orange-line {
    height: 40px;
    background-color: #EEB122;
    width: 100%;
}

.orange-line.borders {
    height: 20px;
}

.info-block {
    margin: 100px auto 0;
    width: 960px;
}
.info-block .info-header {
    color: #ff731c;
    font-size: 60px;
    text-shadow: 1px 1px 1px black;
    line-height: 70px;
}

.info-block .info-text {
    font-size: 20px;
}

.deviver {
    background-image: url('/img/main_new/deviver.png');
    background-repeat: no-repeat;
    width: 960px;
    height: 40px;
}

.deviver.right-full {
    background-position: -462px 0;
    position: relative;
    left: -18px;

}
.lastWrapper{
    height: 642px;
    background: url('/img/main_new/reg.jpg')/*tpa=http://ten-ten.ru/ulyssenardin/img/bg_7.jpg*/ center center no-repeat;
}
.lastWrapper .right{
    width: 466px;
    float: right;
}
.lastWrapper .right h2{
    margin-top: 210px;

    -moz-transform: matrix( 0.93009595724055,0,0,0.93009595724055,0,0);
    -webkit-transform: matrix( 0.93009595724055,0,0,0.93009595724055,0,0);
    -ms-transform: matrix( 0.93009595724055,0,0,0.93009595724055,0,0);
    color: rgb( 0, 140, 255 );
    line-height: 0.916;
    font-size: 39px;
    text-align: right;
    margin-right: -15px;
}
.lastWrapper .right p{
    font-size: 18px;
    font-family: "Myriad Pro";
    color: rgb( 255, 255, 255 );
    text-align: right;
    -moz-transform: matrix( 0.96633348296391,0,0,0.96633348296391,0,0);
    -webkit-transform: matrix( 0.96633348296391,0,0,0.96633348296391,0,0);
    -ms-transform: matrix( 0.96633348296391,0,0,0.96633348296391,0,0);
    letter-spacing: 4px;
    margin-top: 10px;
}
.lastWrapper .right img{
    float: right;
    margin: 10px 0;
}

.lastWrapper a.zak{
    width: 289px;
    padding: 0;
    height: 60px;
    line-height: 55px;
    background: url(../img/btn4.png)/*tpa=http://ten-ten.ru/ulyssenardin/img/btn4.png*/ top center no-repeat;
    text-shadow: 1px 1px 0px rgba( 255, 255, 255, 0.67 );
    -moz-transform: matrix( 0.99491759930605,0,0,0.99491759930605,0,0);
    -webkit-transform: matrix( 0.99491759930605,0,0,0.99491759930605,0,0);
    -ms-transform: matrix( 0.99491759930605,0,0,0.99491759930605,0,0);
    outline: none;
    border: none;
    text-align: center;
    /*border-bottom: 1px solid #fff;*/
    font-size: 36px;
    color: #402000;
    text-indent: 0px;
    margin-top: 10px;
    /*margin: 4px auto;*/
    display: block;
    text-decoration: none;
    outline: none;
    /*margin-left: -5px;*/
    margin-right: 70px;
    float: right;
    margin-top: 7px;
}
.footerWrapper{
    position: absolute;
    bottom: 0;
    width: 1920px;
    left: 50%;
    margin-left: -960px;
    height: 80px;
    background: rgba(0,0,0,0.3);
}
.footerWrapper .left{
    font-size: 16px;
    margin-top: 23px;
    font-family: "Myriad Pro";
    font-weight: 300;
    color: rgb( 255, 255, 255 );
    line-height: 1.25;
    text-align: left;
}
.footerWrapper .left span{
    font-size: 12px;
}
.footerWrapper .right{
    width: 270px;
}
.footerWrapper .right p{
    text-transform: uppercase;
    color: #fff;
    margin-right: 15px;
    font-size: 29px;
    margin-top: 13px;
    float: right;
    margin: 20px 11px 3px 0!important;
    line-height: 31px;
    text-align: center;
}
.footerWrapper .right a.call{
    width: 269px;
    padding: 0;
    height: 42px;
    line-height: 37px;
    background: url(../img/btn1.png)/*tpa=http://ten-ten.ru/ulyssenardin/img/btn1.png*/ top center no-repeat;
    text-shadow: 1px 1px 0px rgba( 255, 255, 255, 0.67 );
    -moz-transform: matrix( 0.99491759930605,0,0,0.99491759930605,0,0);
    -webkit-transform: matrix( 0.99491759930605,0,0,0.99491759930605,0,0);
    -ms-transform: matrix( 0.99491759930605,0,0,0.99491759930605,0,0);
    outline: none;
    border: none;
    text-align: center;
    /*border-bottom: 1px solid #fff;*/
    font-size: 23px;
    color: rgb( 64, 32, 0 );
    text-indent: 0px;
    margin: 4px auto;
    display: block;
    text-decoration: none;
    outline: none;
}
.footerWrapper p img{
    margin: 0 10px 0 0!important;

    float: left!important;
}
.footerWrapper .center a{
    color: #fff;
    font-size: 24px;
    margin-top: 50px;
    margin-left: 60px;
    display: block;
    font-family: "Myriad Pro";
}
#lead-hunt-input{color:#000;}

.bottom-menu {
    display: block;
    float: right;
    height: 45px;
    margin: 23px auto;
    text-align: center;
    width: 710px;
}

.bottom-menu ul {
    margin: 0px auto;
}

.bottom-menu ul li {
    float: left;
    line-height: 50px;
    margin: 0 10px;
    position: relative;
    font-family: "Myriad Pro";
}
.bottom-menu ul li a {
    color: #82888d;
    font-size: 25px;
    text-transform: uppercase;

}

.bottom-list {
    display: flex;
    margin: 0 auto;
}
.registration-block {
    background: url('/img/main_new/reg_form_bg.png') no-repeat;
    height: 439px;
    width: 834px;
    margin: 80px auto;
}

.registration-head {
    color: #fff;
    font-size: 57px;
    line-height: 1;
    text-align: center;
    text-transform: uppercase;
    position: relative;
    top: -23px;
}

.registration-info {
    border: 1px solid #c79526;
    float: left;
    height: 323px;
    margin-left: 40px;
    width: 396px;
}

.registration-form {
    float: right;
    height: 323px;
    margin-right: 40px;
    width: 337px;
}

.registration-form .login-input input, .registration-form .email-input input{
    background: #F7F7F7; /* Old browsers */
    background: -moz-linear-gradient(top, #F7F7F7 0%, #ADABAC 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #F7F7F7), color-stop(100%, #ADABAC)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #F7F7F7 0%, #ADABAC 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #F7F7F7 0%, #ADABAC 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #F7F7F7 0%, #ADABAC 100%); /* IE10+ */
    background: linear-gradient(to bottom, #F7F7F7 0%, #ADABAC 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#F7F7F7', endColorstr='#ADABAC', GradientType=0); /* IE6-9 */
    border: medium none;
    box-shadow: -2px 3px 2px 1px #aaaaaa inset;
    height: 45px;
    width: 94%;
    margin-bottom: 30px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 24px;
}

.registration-form button {
    background-color: #ffa611;
    background-image: url("/img/main_new/arr_button.png");
    border-radius: 1px 0 0 1px;
    border-right: 2px solid #ab4507;
    color: rgb(64, 32, 0);
    font-family: "bebas_neue_cyrillicregular",Myriad Pro,Arial,Helvetica,sans-serif;
    font-size: 34px;
    height: 58px;
    line-height: 50px;
    margin: 33px 0 0;
    outline: medium none;
    padding: 0;
    position: relative;
    text-align: center;
    text-indent: 0;
    text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.67);
    text-transform: uppercase;
    width: 100%;
}
.input-icon {
    position: absolute;
    right: 4px;
    top: 4px;
}
.key-icon {
    background: url("/img/main_new/form_icons.png") no-repeat scroll 3px 0 rgba(0, 0, 0, 0);
    height: 40px;
    width: 45px;
}

.imp-icon {
    background: url("/img/main_new/form_icons.png") no-repeat scroll 0 -83px rgba(0, 0, 0, 0);
    height: 36px;
    width: 40px;
}

.login-input, .email-input {
    display: block;
    position: relative;
}

.registration-text {
    color: #fff;
    font-family: "Myriad Pro";
    font-size: 22px;
    font-weight: 400;
    line-height: 1.2;
}
.registration-form a {
    color: #FFA511;
    text-decoration: underline;
}
.registration-form a:hover {
    color: #FFA511;
    text-decoration: none;
}

.h1-title {
    color: #fff;
    font-size: 69px;
    line-height: 1;
    margin-top: 15px;
    text-align: center;
    text-transform: uppercase;
    font-family: "bebas_neue_cyrillicregular",sans-serif;
    font-weight: normal;
    margin-bottom: 0;
}
.feedWrapper{
    height: 546px;
    background: url('/img/main_new/review.jpg')/*tpa=http://ten-ten.ru/ulyssenardin/img/bg_4.jpg*/ center center no-repeat;
}
.feedWrapper h2{
    height: 40px;
    line-height: 40px;
    margin-top: 80px;
    font-size: 60px;
    text-transform: uppercase;
    text-align: center;
    width: 1920px;
    height: 40px;
    margin-left: -480px;
    display: block;
    color: #fff;
    background: url(../img/h2.png)/*tpa=http://ten-ten.ru/ulyssenardin/img/h2.png*/ center center no-repeat;
}

.feedWrapper .content-wrap {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: medium none;
    line-height: 1;
    height: 600px;
    width: 1052px;
}
.feedWrapper .left{
    width: 350px;
    margin-top: 80px;
    margin-bottom: 80px;
}
.feedWrapper .right{
    width: 360px;
}
.feedWrapper .center{
    width: 250px;
    text-align: center;
    margin-top: 45px;
}
.feedWrapper .left img.lap{
    float: right;
    margin-top: 80px;
    margin-bottom: 0;
}
.feedWrapper .left h3{
    font-family: "Myriad Pro";
    font-size: 28px;
    color: #fff;
    text-transform: uppercase;
    text-align: right;
    line-height: 1.65;
}
.feedWrapper .left a{
    float: right;
    color: #3197ff;
    text-decoration: underline;
    /*margin-right: 40px;*/
    line-height: 34px;
    padding: 10px 0;
    font-size: 20px;
    font-family: "Myriad Pro";
    position: relative;
}
.feedWrapper .left a img{
    margin-left: 20px;
}
.feedWrapper .right{
    margin-top: 80px;
}
.feedWrapper .right p{
    color: #fff;
    line-height: 1.2;
    font-weight: 300;
    font-family: "Myriad Pro";
    font-size: 18px;
}
.feedWrapper .example-pager{
    width: 90px;
    text-align: center;
    margin: 20px auto 0 auto;
}
.feedWrapper .example-pager .cycle-pager-active{
    width: 12px;
    height: 12px;
    background: #ffaa0c;
}
.feedWrapper img{
    margin-bottom: 35px;
}
.feedWrapper .example-pager span{
    width: 12px;
    font-size: 1px;
    overflow: hidden;
    height: 12px;
    cursor: pointer;
    background: #f6f6f6;
    float: left;
    display: inline;
    display: inline-block;
    zoom: 1;
    margin: 0 3px;
}

.feed-header div {
    display: block;
    float: left;
    margin-bottom: 60px;
}

.deviver.left-part {
    width: 190px;
    background-position: -292px 0;
}
.deviver.right-part {
    width: 190px;
    background-position: -483px 0;
}
.feed-header .text {
    color: #fff;
    display: block;
    font-size: 60px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    text-transform: uppercase;
    width: 650px;
}

.feed-header {
    left: -50px;
    position: relative;
    width: 1060px;
    margin-top: 55px;
}

.presentWrapper{
    height: 580px;
    background: url('/img/main_new/card.jpg')/*tpa=http://ten-ten.ru/ulyssenardin/img/bg_5.jpg*/ center  center no-repeat;
}
.presentWrapper a{
    cursor: pointer;
    font-size: 33px;
    color: #4b3202;
    font-weight: 700;
    text-align: center;
    border: none;
    padding: 0;
    text-transform: uppercase;
    /*font-family: 'Bebas Neue';*/

    width: 351px;
    font-weight: bold;
    height: 71px;
    line-height: 71px;
    background: url(../img/btn3.png)/*tpa=http://ten-ten.ru/ulyssenardin/img/btn3.png*/ ;
    text-shadow: 1px 1px 0px rgba( 255, 227, 113, 0.83 );
    outline: none;
    display: block;
    text-align: center;
    text-decoration: none;
    margin-top: 385px;
    margin-left: 148px;
}

.registration-error {
    position: absolute;
    right: 22px;
    top: 51px;
    width: 306px;
}

.error-wrap input {
    border: 1px solid #f52121 !important;
}

.register-success-message {
    color: #ffc038;
    font-size: 23px;
    letter-spacing: 3px;
    text-align: center;
    text-transform: uppercase;
}

.feedProf {
    color: #ff731b;
    font-family: Myriad Pro;
    font-size: 17px;
    font-weight: bold;
    text-align: right;
}

.feedAuthor {
    float: right;
    text-align: left;
    width: 200px;
}

.feedAuthor .feedName {
    color: #fff;
    font-family: "Myriad Pro";
    font-size: 35px;
    font-weight: bold;
    line-height: 1.65;
    text-align: left;
    text-transform: uppercase;
    height: 40px;
}
.feedAuthor .feedProf {
    color: #ff731b;
    font-family: Myriad Pro;
    font-size: 17px;
    font-weight: bold;
    text-align: left;
    text-transform: lowercase;

}

.auctionWrapper {
    margin: 30px auto 0;
    width: 837px;
}
.auctionWrapper .auction-head {
    background: url("/img/main_new/auction/auction_sprite.png") no-repeat scroll -59px -42px rgba(0, 0, 0, 0);
    color: #4d2f00;
    font-size: 25px;
    height: 36px;
    padding: 3px 0 0 8px;
}
.auctionWrapper .auction-head-right {
    float: right;
    margin-right: 15px;
}

.auction-head-title {
    float: left;
    margin-right: 20px;
}
.auction-games-left {
    float: left;
    margin-right: 20px;
}
.auction-super-prize {
    float: left;
}
.auction-super-prize .thousands {
    bottom: 2px;
    float: left;
    margin-left: 20px;
    position: relative;
}

.auction-super-prize .numbers {
    bottom: 2px;
    float: left;
    position: relative;
    margin-left: 5px;
}
.auction-super-prize .super-prize-text {
    float: left;
}
.auction-super-prize .thousands div, .auction-super-prize .numbers div {
    background: url("/img/main_new/auction/auction_sprite.png") no-repeat scroll -221px -139px rgba(0, 0, 0, 0);
    color: #000000;
    display: block;
    float: left;
    font-family: RockwellBold;
    font-size: 30px;
    font-stretch: ultra-condensed;
    font-weight: bolder;
    height: 37px;
    line-height: 36px;
    padding-left: 5px;
    width: 22px;
}

.header-rub {
    background: url("/img/main_new/auction/auction_sprite.png") no-repeat scroll -255px -138px rgba(0, 0, 0, 0);
    display: block;
    float: left;
    height: 25px;
    margin-left: 14px;
    margin-top: 6px;
    width: 14px;
}

.auctionWrapper .auction-block {
    border-left: 1px solid #b68d32;
    border-right: 1px solid #b68d32;
    height: 300px;
    padding: 25px 10px;
    background: url('/img/main_new/auction/auction_bg.png');
}

.auctionWrapper .auction-footer {
    background: url("/img/main_new/auction/auction_sprite.png") no-repeat scroll -58px -89px rgba(0, 0, 0, 0);
    color: #4d2f00;
    font-size: 25px;
    height: 36px;
    text-align: center;
}

.auctionWrapper .auction-slot-block {
    background: url("/img/main_new/auction/slots_bg.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
    border-radius: 5px;
    height: 296px;
    width: 380px;
    position: relative;
    float: left;
}

.auction-slots {
    height: 276px;
    padding: 10px;
    width: 370px;
}

.auction-slots .slot1, .auction-slots .slot2, .auction-slots .slot3 {
    background: url("/img/main_new/auction/auction_sprite.png") no-repeat scroll -58px -208px rgba(0, 0, 0, 0);
    float: left;
    height: 100%;
    width: 120px;
    position: relative;
}

.green-bg {
    background: url("/img/main_new/auction/auction_sprite.png") no-repeat scroll -58px -166px rgba(0, 0, 0, 0);
    height: 31px;
    left: 5px;
    position: absolute;
    top: 122px;
    width: 104px;
}

.guide {
    height: 21px;
    position: absolute;
    width: 28px;
    z-index: 2;
}

.guide-right {
    background: url("/img/main_new/auction/auction_sprite.png") no-repeat scroll -148px -138px rgba(0, 0, 0, 0);
    right: -2px;
    top: 139px;
}
.guide-left {
    background: url("/img/main_new/auction/auction_sprite.png") no-repeat scroll -180px -138px rgba(0, 0, 0, 0);
    top: 139px;
}

.win-border {
    background: url("/img/main_new/auction/auction_sprite.png") no-repeat scroll -182px -215px rgba(0, 0, 0, 0);
    height: 34px;
    left: 5px;
    position: absolute;
    top: 121px;
    width: 104px;
    z-index: 20;
}

.prize-list {
    font-family: Myriad Pro,sans-serif;
    font-size: 15px;
    font-weight: bold;
    height: 257px;
    margin-top: 10px;
    overflow: hidden;
    position: relative;
    text-transform: uppercase;
    z-index: 10;
}
.prize-list ul {
    width: 103px;
    z-index: 10;
}
.prize-list ul li {
    display: block;
    padding: 17px 0 0 14px;
    /*margin: 27px 0 0 14px;*/
    text-align: center;
    z-index: 10;
    height: 32px;
}

.prize-list ul li .double-2 {
    font-size: 23px;
}

.prize-list ul li .coupon-title {
    font-size: 20px;
}

.prize-list ul li .back-title {
    font-size: 19px;
}



.auctionWrapper .auction-info-block {
    float: left;
    height: 295px;
    margin-left: 30px;
    width: 400px;
    position: relative;
}

.auctionWrapper .auction-info-block .salut {
    display: block;
    position: absolute;
    top: 0;
    left: 40px;
    z-index: 1;
    opacity: 0;
}

.auctionWrapper .auction-info-block .salut img {
    width: 315px;
}
.auction-game-info-block {
    border: 1px solid #79662e;
    height: 115px;
    padding: 0 0 15px 10px;
    position: relative;
    z-index: 2;
}

.auction-game-info-block div.game-information:not([data-type="start-info"]) {
    display: none;
}

.auction-game-info-block .game-information .man-persent {
    height: 89px;
    margin-top: 30px;
    width: 66px;
    background: url('/img/main_new/auction/coupon-info.png') no-repeat;
    float: left;
}
.auction-game-info-block .game-information .win-cup {
    height: 78px;
    margin-top: 30px;
    width: 68px;
    background: url('/img/main_new/auction/cup-info.png') no-repeat;
    float: left;
}
.auction-game-info-block .game-information .double-rate {
    height: 75px;
    margin-top: 30px;
    width: 66px;
    background: url('/img/main_new/auction/double-info.png') no-repeat;
    float: left;
}


.auction-game-info-block .arrow-down {
    background: url("/img/main_new/auction/auction_sprite.png") no-repeat scroll -268px -134px rgba(0, 0, 0, 0);
    height: 75px;
    width: 66px;
    margin-top: 30px;
    float: left;
}

.auction-game-info-block .auction-info-text {
    color: #ffffff;
    font-size: 18px;
    margin-left: 80px;
}
.auction-game-info-block .auction-info-text p {
    font-family: Myriad Pro;
    font-weight: 300;
    font-size: 14px;
    padding-right: 3px;
}
.auction-game-info-block .auction-info-text p a {
    color: #DFC704;
    text-decoration: underline;
}

.auction-game-info-block .auction-info-text-title {
    font-size: 24px;
    color: #E47A2C;
}

.user-game-info-block {
    margin-top: 9px;
    position: relative;
    z-index: 2;
}

.user-game-info-block .game-rate-block {
    float: left;
    width: 157px;
}

.user-game-info-block .user-game-info-title {
    font-size: 25px;
    color: #79662E;
    text-align: center;
}
.user-game-info-block .game-rate-doubled-block {
    float: left;
    margin-left: 23px;
    position: relative;
}
.user-game-info-block .user-wk-count {
    float: left;
    margin-left: 16px;
}

.user-game-info-block .game-rate-block input {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 1px solid #926e2d;
    color: #8d8c8a;
    float: left;
    font-size: 30px;
    font-weight: bold;
    height: 32px;
    position: relative;
    text-align: center;
    top: -1px;
    width: 56px;
    padding-top: 5px;
}
.arrow-left-rate {
    background: url("/img/main_new/auction/auction_sprite.png") no-repeat scroll -58px -135px rgba(0, 0, 0, 0);
    height: 25px;
    width: 40px;
    float: left;
    cursor: pointer;
    position: relative;
    top: 8px;
}
.arrow-right-rate {
    background: url("/img/main_new/auction/auction_sprite.png") no-repeat scroll -103px -135px rgba(0, 0, 0, 0);
    float: left;
    height: 25px;
    width: 40px;
    cursor: pointer;
    position: relative;
    top: 8px;
}

.arrow-right-rate:hover {
    background: url("/img/main_new/auction/auction_sprite.png") no-repeat scroll -391px -137px rgba(0, 0, 0, 0);
}

.arrow-left-rate:hover {
    background: url("/img/main_new/auction/auction_sprite.png") no-repeat scroll -349px -137px rgba(0, 0, 0, 0);
}
.rate-doubled-info {
    border: 1px solid #926e2d;
    border-radius: 25px;
    color: #8d8c8a;
    font-family: arial,sans-serif;
    font-size: 30px;
    font-weight: bold;
    height: 35px;
    padding-bottom: 3px;
    position: relative;
    text-align: center;
    width: 90px;
    z-index: 2;
}

.wk-balance-win-bg {
    background-color: red;
    border-radius: 25px;
    height: 38px;
    left: 1px;
    opacity: 0;
    position: absolute;
    top: 37px;
    width: 90px;
    z-index: 1;
}

.user-wk-info {
    border: 1px solid #926e2d;
    border-radius: 25px;
    color: #8d8c8a;
    font-family: arial,sans-serif;
    font-size: 30px;
    font-weight: bold;
    height: 35px;
    padding-bottom: 3px;
    position: relative;
    text-align: center;
    width: 90px;
    z-index: 2;
    margin: 0 auto;
}
.button-start-block button{
    background: url("/img/main_new/auction/start_button.png") no-repeat scroll -10px -9px rgba(0, 0, 0, 0);
    border: medium none;
    color: #ffffff;
    font-size: 21px;
    font-weight: bold;
    height: 51px;
    text-shadow: 1px 1px 1px black;
    width: 238px;
    margin: 0 auto;
    text-transform: uppercase;
    display: block;
    font-family: HelveticaBlack;
    cursor: pointer;

}
.button-start-block button:hover {
    background: url("/img/main_new/auction/start_button_active.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
}
.button-start-block {
    margin-top: 37px;
    z-index: 2;
    position: relative;
}

.info-coins-block {
    margin: 130px auto;
    width: 960px;
}

.info-coin-block {
    float: left;
    width: 33%;
    font-size: 30px;
}

.info-coin {
    width: 106px;
    height: 106px;
    display: block;
    float: left;
    background-image: url('/img/main_new/coins-woman.png');
    background-repeat: no-repeat;
}

.cube-coin {
}

.bag-coin {
    background-position: -113px 0;
}

.time-coin {
    background-position: -222px 0;
}

.info-coin-block p {
    left: 15px;
    margin-left: 0;
    margin-top: 32px;
    position: relative;
}

.bottom-title {
    color: #cf0e11;
    font-size: 41px;
    margin-top: 48px;
    text-align: center;
    text-shadow: 1px 1px 1px #000000;
    text-transform: uppercase;
}

.resultWrapper {
    height: 400px;
    margin: 50px auto 0;
    width: 1024px;
}

.result-text {
    width: 500px;
    height: 400px;
    float: left;
    /*border: 1px solid #EEB122;*/
}

.cup {
    background: url('/img/main_new/cup.png') no-repeat;
    width: 70px;
    height: 120px;
    margin-right: 30px;
}

.result-table {
    width: 500px;
    height: 400px;
    float: left;
    /*border: 1px solid #EEB122;*/
}

.result-text-title {
    font-size: 45px;
    text-shadow: 1px 1px 1px black;
}

.t-red {
    color: #d51115;
}

.result-text-subtitle {
    color: #ffffff;
    font-family: Myriad Pro;
    font-size: 26px;
    font-weight: bold;
    padding: 15px 0 0 30px;
    position: relative;
    right: 32px;
    text-shadow: 1px 1px 1px #000000;
    text-transform: uppercase;
}

.sbt-red {
    background: url("/img/main_new/paint_red.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    height: 59px;
    width: 358px;
}

.coin {
    background-image: url('/img/main_new/result_info_coins.png');
    width: 32px;
    height: 32px;
    display: block;
    float: left;
}

.k-coin {

}

.ak-coin {
    background-position: -32px 0;
}

.sp-coin {
    background-position: -65px 0;
}

.result-text-list {
    font-family: Myriad Pro, sans-serif;
}

.text-title {
    font-size: 22px;
    font-weight: bold;
    margin-left: 20px;
}

.result-text-list ul li p {
    margin-left: 52px;
}

.result-text-list ul li {
    font-size: 19px;
    margin-bottom: 20px;
    width: 96%;
}

.t-orange {
    color: #FA7729;
}

.sbt-orange {
    background: url("/img/main_new/paint_orange.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    height: 60px;
    padding-left: 56px;
    right: 0;
    width: 243px;
}

.winners-table {
    border: 4px solid #e9b02b;
    border-radius: 5px;
    height: 280px;
    width: 496px;
    background: url('/img/main_new/winner-table-bg.png');
}

.winners-table table {
    height: 100%;
    width: 100%;
}

.winners-table table tr:nth-child(2n) td {
    padding-left: 0;
}

.winners-table table td:first-child {
    color: #ffffff;
    font-size: 18px;
    padding-left: 20px;
    width: 130px;
}

.winners-table table td {
    color: #F87622;
    font-size: 25px;
    padding-left: 20px;
}

.winners-table .stars {
    background: url("/img/main_new/result_info_coins.png") repeat scroll 0 -34px rgba(0, 0, 0, 0);
    height: 5px;
    width: 100%;
}

.user-email-info-head {
    background-color: #151515;
    border: 1px solid #343434;
    border-radius: 15px;
    color: #fa7729;
    float: left;
    font-size: 16px;
    height: 24px;
    margin-left: 0;
    margin-top: 10px;
    padding-top: 3px;
    position: relative;
    text-align: center;
    width: 20%;
}

.eighteen {
    display: block;
    background: url('/img/main_new/18+.png') no-repeat;
    width: 39px;
    height: 39px;
    float: right;
}

.menuWrapper ul li.home {
    display: block;
    margin-top: 7px;
}
.menuWrapper ul li.home a {
    display: block;
    background: url('/img/main_new/home-icon.png') no-repeat;
    width: 37px;
    height: 37px;
}

.footerBgWrapper {
    height: 82px;
    background: url('/img/main_new/reg.jpg') no-repeat 0px 0px/*tpa=http://ten-ten.ru/ulyssenardin/img/bg_7.jpg*/;
}

.typicalWrapper {
    background-color: #ffffff;
    /*height: 666px !important;*/
    margin: 0 auto;
    width: 960px;
    position: relative;
}
.typicalWrapper .typical-page-wrap {
    z-index: 1;
    position: relative;
}
.typicalWrapper .typical-page-header {
    color: #ff731c;
    font-size: 60px;
    line-height: 70px;
    text-shadow: 1px 1px 1px black;
    margin-top: 50px;
}

.dice {
    background: url("/img/main_new/dice-bg.jpg") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    bottom: -58px;
    display: block;
    height: 400px;
    position: absolute;
    right: -90px;
    width: 530px;
    z-index: 0;
}

.typicalWrapper .typical-page-content {
    color: #82888d;
    font-family: Myriad Pro;
    font-size: 15px;
    position: relative;
    width: /*575px*/ auto;
    margin-bottom: 50px;
}

.newsWrapper {
    min-height: 500px;
}

.newsWrapper .news-wrap {
    margin: 0 auto;
    position: relative;
    width: 660px;
    z-index: 1;
}

.newsWrapper .news-wrap .news-title {
    background: url("/img/main_new/paint_orange.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    color: #ffffff;
    font-size: 30px;
    height: 65px;
    margin: 25px auto;
    padding-top: 7px;
    text-align: center;
    text-shadow: 1px 1px 1px black;
    text-transform: uppercase;
    width: 278px;
    word-spacing: 15px;
}
.show-hide-block-news {
    display: none;
}

.newsWrapper .news-block {
    border: none;
    overflow: hidden;
    padding: 20px 10px 7px;
    margin-bottom: 25px;
}
.newsWrapper .new-date {
    color: #ff7113;
    float: left;
    font-size: 18px;
    width: 80px;
}

.newsWrapper .new-title {
    float: left;
    font-size: 18px;
}

.newsWrapper .news-block-content {
    font-family: Myriad Pro, sans-serif;
    margin-top: 15px;
    text-align: justify;
    font-size: 18px;
}

.newsWrapper .news-block-control {
    float: none;
    font-family: Myriad Pro,sans-serif;
    position: absolute;
    right: -26px;
}

.presentGameWrapper{
    height: 500px;
}
.presentGameWrapper .resultWrapper {
    width: 938px;
}
.presentGameWrapper a{
    cursor: pointer;
    font-size: 33px;
    color: #4b3202;
    font-weight: 700;
    text-align: center;
    border: none;
    padding: 0;
    text-transform: uppercase;
    /*font-family: 'Bebas Neue';*/

    width: 351px;
    font-weight: bold;
    height: 71px;
    line-height: 71px;
    background: url(../img/btn3.png)/*tpa=http://ten-ten.ru/ulyssenardin/img/btn3.png*/ ;
    text-shadow: 1px 1px 0px rgba( 255, 227, 113, 0.83 );
    outline: none;
    display: block;
    text-align: center;
    text-decoration: none;
    margin-top: 385px;
    margin-left: 148px;
}

.big-cup {
    background: url("/img/main_new/auction/big-cup.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
    float: left;
    height: 374px;
    margin-left: 90px;
    margin-top: 77px;
    width: 330px;
}

.footerBgWrapper {
    height: 82px;
    background: url('/img/main_new/reg.jpg') no-repeat 0px 0px/*tpa=http://ten-ten.ru/ulyssenardin/img/bg_7.jpg*/;
}
.present-box {
    background: url("/img/main_new/present-box-bg.jpg") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    bottom: 64px;
    display: block;
    height: 405px;
    position: absolute;
    right: -161px;
    width: 530px;
    z-index: 0;
}

.helpWrapper {
    margin: 0 auto;
    min-height: 600px;
    position: relative;
}

.helpWrapper .help-wrap {
    width: 960px;
    margin: 0 auto;
    position: relative;
    z-index: 1;
}

.helpWrapper .help-menu-content {
    float: left;
    width: 250px;
    background-color: #171717;
    min-height: 1115px;
    border-left: 1px solid #ffffff;
    border-right: 1px solid #ffffff;
    outline: 1px solid #000000;
}

.helpWrapper  .help-menu-title {
    color: #fe7214;
    font-size: 22px;
    padding: 35px 0;
    text-align: center;
}

.helpWrapper .help-menu-list {
    padding: 0 5px;
}

.helpWrapper .help-menu-list ul > li.active {
    border: none;
}

.helpWrapper .help-menu-list ul > li.active > a {
    background-color: #000000;
    color: #ffffff;
    display: block;
    font-family: Myriad Pro,sans-serif;
    font-size: 22px;
    font-weight: bold;
    height: 30px;
    margin-left: -5px;
    padding-left: 5px;
    padding-top: 10px;
    position: relative;
    text-decoration: none;
    width: 245px;
}
.helpWrapper .help-menu-list ul > li.active > a:hover {
    text-decoration: none;
}

.helpWrapper .help-menu-list ul > li.active > ul li a {
    color: #ffffff;
    display: block;
    font-family: Myriad Pro;
    height: 24px;
    padding-left: 15px;
    padding-top: 3px;
    width: 230px;
    font-size: 17px;
}
.helpWrapper .help-menu-list ul > li.active > ul li a:hover {
    background-color: #FB561E;
    text-decoration: none;
}

.helpWrapper .help-menu-list > ul > li:not(.active) {
    border-bottom: 1px dotted #e8eb08;
    font-size: 15px;
    height: 25px;
    padding: 13px 15px 0;
    height: auto;

}
.helpWrapper .help-menu-list > ul > li:not(.active) > a {
    color: #ffffff;
    display: block;
    font-family: Myriad Pro;
    font-size: 20px;
    padding-bottom: 5px;
}
.helpWrapper .help-menu-list > ul > li > a {
    text-transform: uppercase;
}

.helpWrapper .current-article {
    background-color: #FF7113;
    width: 245px;
}
.helpWrapper .help-content {
    float: right;
    width: 700px;
}

.helpWrapper .help-content-title {
    background: url("/img/main_new/paint_orange.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    color: #ffffff;
    font-size: 30px;
    height: 65px;
    margin: 25px auto;
    padding-top: 7px;
    text-align: center;
    text-shadow: 1px 1px 1px black;
    text-transform: uppercase;
    width: 278px;
    word-spacing: 15px;
}



.helpWrapper .help-block {
    background: none repeat scroll 0 0 rgba(223, 226, 227, 0.85);
    padding-bottom: 40px;
    padding-left: 10px;
    padding-top: 15px;
}
.helpWrapper .help-block:nth-child(2n) {
    background: none repeat scroll 0 0 rgba(250, 231, 193, 0.85);
}

.helpWrapper .help-block .help-block-title {
    font-size: 19px;
    margin-bottom: 15px;
}

.helpWrapper .help-block .help-block-text {
    font-family: Myriad Pro,sans-serif;
    padding-right: 20px;
    text-align: justify;
    font-size: 17px;
}

.helpWrapper .help-block .show-hide-block-wrap {
    display: none;
}

.help-block-control {
    cursor: pointer;
    float: right;
    width: 95px;
    font-family: Myriad Pro, sans-serif;
}

.help-block-control img {
    float: left;
    margin: 5px 4px 0 0;
}
.help-block-control p {
    color: #007396;
    font-size: 13px;
    text-decoration: underline;
}

.helpWrapper .help-block-title.active {
    background-color: #FB561E;
}
.plant-coins {
    background: url("/img/main_new/plant_coins.jpg") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    bottom: -519px;
    display: block;
    height: 1004px;
    position: absolute;
    right: 0;
    width: 566px;
    z-index: 0;
}

.partnersWrapper {
    font-family: Myriad Pro;
}

.partnersWrapper .partner-page .partner-block .partner-header {
    background: url("/img/partners/up-menu-bg.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
    color: #ffffff;
    display: block;
    font-size: 35px;
    height: 44px;
    letter-spacing: 2.5px;
    margin-top: 0;
    padding-top: 5px;
    position: relative;
    text-transform: uppercase;
    top: 20px;
    width: auto;
}

.partnersWrapper .partner-footer {
    background: url("/img/partners/up-menu-bg.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
    color: #ffffff;
    font-size: 23px;
    height: 36px;
    letter-spacing: 2px;
    margin-bottom: 0;
    margin-top: 0;
    padding-top: 13px;
    position: relative;
    text-transform: uppercase;
    width: auto;
}

.partnersWrapper .left-block .form-header {
    color: #ffffff;
    margin: 45px 0 32px;
    text-shadow: 1px 1px 2px black;
    text-transform: uppercase;
    font-size: 27px;
}

.partnersWrapper .left-block #partner-form-submit {
    background: url("/img/partners/button.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: medium none;
    color: #ffffff;
    cursor: pointer;
    font-family: "Myriad Pro";
    font-size: 20px;
    height: 41px;
    letter-spacing: 2px;
    margin: 0;
    padding-top: 4px;
    text-align: center;
    text-shadow: 1px 1px 2px black;
    text-transform: uppercase;
    width: 105px;
}

.partnersWrapper .partner-page .partner-block .partner-menu .partner-menu-button span a
{
    color: #ffffff;
    display: block;
    font-size: 22px;
    font-weight: bold;
    height: 87%;
    margin-top: 0;
    padding-top: 14px;
    position: relative;
    text-transform: uppercase;
    top: 0;
    width: 100%;
}
.partnersWrapper .checking-form .exit-link {
    font-weight: bold;
    margin: 142px 68px 0;
    text-align: right;
    font-size: 17px;
}

.cabinetWrapper {
    margin: 0 auto;
    font-family: Myriad Pro;
}

.cabinetWrapper .cabinet-wrap {
    width: 983px;
    margin: 0 auto;
}

.cabinetWrapper .history-panel{
    background: none repeat scroll 0 0 #00c0da;
    font-family: "Myriad Pro";
    font-size: 20px;
    height: 35px;
    margin-bottom: 10px;
    width: 975px;
}

.cabinetWrapper .content {
    background: none;
    border: 0 none;
    clear: both;
    font-family: "Myriad Pro";
    overflow: hidden;
    width: 974px;
    margin: 0;
}

.cabinetWrapper ul.left-menu li a {
    color: #fff0e7;
    font-family: "Myriad Pro";
    font-size: 20px;
    font-weight: normal;
    line-height: 32px;
}
.cabinetWrapper .page-cont-subtitle, .page-cont-title {
    color: #fff;
    font-family: "Myriad Pro";
    font-size: 30px;
    font-weight: normal;
    letter-spacing: 2px;
    margin: 32px 0 33px;
    text-align: center;
    text-shadow: 1px 1px 1px #000000;
}

.cabinetWrapper .simple-text-block .page-cont-title {
    font-size: 30px;
    margin: 32px 0 33px;
    text-align: center;
}

.cabinetWrapper table.winclicks-form-table tr {
    font-family: "Myriad Pro";
}

.cabinetWrapper .nominal-td {
    color: #000;
    font-family: "Myriad Pro";
    font-size: 21px;
    letter-spacing: 2px;
    width: 45px;
}

.cabinetWrapper table.winclicks-form-table td.labels-td {
    color: #000;
    font-family: "Myriad Pro";
    font-size: 21px;
    letter-spacing: 2px;
    width: 330px;
}

.wk_button {
    font-family: "Myriad Pro";
    background: url("/img/save-button.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 0 none;
    color: #fff;
    display: block;
    font-size: 20px;
    height: 29px;
    letter-spacing: 2px;
    margin: 55px auto 48px;
    text-transform: uppercase;
    width: 156px;
}

.cabinetWrapper input.main-button {
    background-color: #ffa611;
    background-image: none;
    border-left: 1px solid #ffffff;
    border-radius: 1px 0 0 1px;
    border-right: 2px solid #ab4507;
    border-top: 1px solid #ffffff;
    color: rgb(64, 32, 0);
    font-family: "bebas_neue_cyrillicregular",Myriad Pro,Arial,Helvetica,sans-serif;
    font-size: 34px;
    height: 50px;
    line-height: 50px;
    margin: 33px auto 20px;
    outline: medium none;
    padding: 0 20px;
    position: relative;
    text-align: center;
    text-indent: 0;
    text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.67);
    text-transform: uppercase;
    width: auto;
}

.cabinetWrapper .golden-bonus-button {
    background: linear-gradient(to bottom, rgba(179, 135, 3, 1) 0%, rgba(107, 81, 2, 1) 100%) repeat scroll 0 0 rgba(0, 0, 0, 0) !important;
    border: 1px solid #ffdd66 !important;
    border-radius: 3px;
    box-shadow: 0 1px 1px 0 #7a6602 inset;
    color: #fff !important;
    display: inline-block !important;
    font-size: 20px !important;
    height: 32px !important;
    letter-spacing: 0 !important;
    line-height: 30px;
    margin-bottom: 15px !important;
    margin-top: 0 !important;
    text-align: center !important;
    text-shadow: 1px 1px 0 #473601;
    text-transform: none !important;
    width: 119px !important;
}

.cabinetWrapper .tranzaction-panel {
    background: #ff7113 no-repeat scroll 0 0;
    border-bottom: 1px solid black;
    font-size: 20px;
    height: 23px;
    margin: 0 auto 20px;
    overflow: hidden;
    text-align: left;
    width: 648px;
}

.cabinetWrapper table.form-table tr {
    font-family: "Myriad Pro";
}

.cabinetWrapper a.edit-button {
    background: url("../img/save-button.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 0 none;
    color: #fff;
    display: block;
    font-family: "Myriad Pro";
    font-size: 17px;
    height: 24px;
    letter-spacing: 1px;
    margin: 75px auto 106px;
    padding-top: 5px;
    text-decoration: none;
    text-transform: uppercase;
    width: 156px;
}

.cabinetWrapper .left_panel {
    background-color: #171717;
    min-height: 781px;
    width: 269px;
    border-left: 1px solid #ffffff;
    border-right: 1px solid #ffffff;
    outline: 1px solid #000000;
    font-family: "Myriad Pro";
    margin-left: 1px;
}

.left-menu li .span-cards {
    display: block;
    font-size: 12px;
    line-height: 16px;
}

.cabinetWrapper .cabinet-menu-title {
    color: #fe7214;
    font-size: 22px;
    padding: 35px 0;
    text-align: center;
}
.cabinetWrapper .cabinet-menu-list {

}

.cabinetWrapper .cabinet-menu-list ul li {
    border-bottom: 1px dotted #e8eb08;
}

.cabinetWrapper .cabinet-menu-list ul li a {
    color: #ffffff;
    font-size: 22px;
    text-decoration: none;
    display: block;
    padding-left: 15px;
    padding-top: 17px;
}
.cabinetWrapper .cabinet-menu-list ul li:not(.active) a:hover {
    background-color: #FB561E;
}

.cabinetWrapper .cabinet-menu-list ul li.active {
    border: none;
    background-color: #000000;
}

.cabinetWrapper .cabinet-menu-list ul li.active a {
    padding-left: 5px;
    font-size: 25px;
}

.cabinetWrapper .personal-data {
    color: #000000;
    margin-left: 5px;
    background: none repeat scroll 0 0 rgba(223, 226, 227, 0.85);
    min-height: 760px;
}

.cabinetWrapper .cabinet-content-title {
    background: url("/img/main_new/paint_orange.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    color: #ffffff;
    font-size: 30px;
    height: 65px;
    margin: 25px auto;
    padding-top: 7px;
    text-align: center;
    text-shadow: 1px 1px 1px black;
    text-transform: uppercase;
    width: 278px;
    word-spacing: 15px;
}

.cabinetWrapper .cabinet-content {
    background: none repeat scroll 0 0 /*rgba(250, 231, 193, 0.85)*/ rgba(223, 226, 227, 0.85);
}

.cabinetWrapper .how-much-winclicks-now {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 1px dashed #7b7c82;
    color: #000;
    font-size: 24px;
    height: 30px;
    padding-top: 0;
    text-align: center;
    width: 138px;
    font-weight: bold;
}

.cabinetWrapper table.winclicks-form-table input[type="text"]
{
    background: #F7F7F7; /* Old browsers */
    background: -moz-linear-gradient(top, #F7F7F7 0%, #ADABAC 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #F7F7F7), color-stop(100%, #ADABAC)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #F7F7F7 0%, #ADABAC 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #F7F7F7 0%, #ADABAC 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #F7F7F7 0%, #ADABAC 100%); /* IE10+ */
    background: linear-gradient(to bottom, #F7F7F7 0%, #ADABAC 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#F7F7F7', endColorstr='#ADABAC', GradientType=0); /* IE6-9 */
    border: medium none;
    box-shadow: 0 4px 7px 2px #aaaaaa inset;
    height: 45px;
    width: 120px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 24px;
    text-align: center;
}
.cabinetWrapper table.form-table input[type="text"], table.form-table input[type="password"] {
    background: #F7F7F7; /* Old browsers */
    background: -moz-linear-gradient(top, #F7F7F7 0%, #ADABAC 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #F7F7F7), color-stop(100%, #ADABAC)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #F7F7F7 0%, #ADABAC 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #F7F7F7 0%, #ADABAC 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #F7F7F7 0%, #ADABAC 100%); /* IE10+ */
    background: linear-gradient(to bottom, #F7F7F7 0%, #ADABAC 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#F7F7F7', endColorstr='#ADABAC', GradientType=0); /* IE6-9 */
    border: medium none;
    box-shadow: 0 4px 7px 2px #aaaaaa inset;
    height: 45px;
    width: 150px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 17px;
    text-align: center;
}
.cabinetWrapper .errorMessage {
    color: red;
    font-family: Myriad Pro;
    font-size: 16px;
    font-style: italic;
    right: -190px;
    top: -5px;
}

.cabinetWrapper table.form-table label {
    color: #000;
    font-size: 22px;
}

.cabinetWrapper table.form-table p {
    color: #000;
    font-family: "Myriad Pro";
    font-size: 17px;
    font-style: italic;
}

.cabinetWrapper .bonus-panel {
    border: 5px solid #FBEBCA;
}

.cabinetWrapper .accordion-panel-wrap {
    font-family: "Myriad Pro";
    background: none repeat scroll 0 0 /*rgba(250, 231, 193, 0.85)*/ rgba(223, 226, 227, 0.85);
    min-height: 500px;
    width: 680px;
}

.cabinetWrapper table.tranzaction-table, .tranzaction-table table {
    margin: 0 auto;

}

.cabinetWrapper table.tranzaction-table th, .tranzaction-table table th {
    background: none repeat scroll 0 0 #FE9D00;
    border: 1px solid #ab4507;
    color: #000;
    font-size: 24px;
    font-weight: normal;
}
.cabinetWrapper table.tranzaction-table td, .tranzaction-table table td {
    border: 1px solid #ab4507;
    color: #000;
    font-size: 19px;
    padding: 8px 0;
}

.cabinetWrapper table.tranzaction-table, .tranzaction-table table {
    border-collapse: collapse;
    font-family: "Myriad Pro";
    max-width: 647px;
}

.cabinetWrapper table.tranzaction-table th.lower-th, .tranzaction-table table thead tr:nth-child(2) th {
    color: #000;
}

.cabinetWrapper .default-message-text {
    color: #000;
    display: block;
    font-size: 15px;
    margin-top: 0px;
    text-align: center;
}
.sliderWrapper .content-wrap {
    width: 1052px;
    height: 600px;
}

.sliderWrapper .typical-page.slider {
    height: 452px;
}

.sliderWrapper .content {
    width: 1052px;
}

.sliderWrapper .content-wrap {
    background: none;
    border: none;
    line-height: 1;
}
.firstWrapper .jSlots-wrapper {
    border: none;
    display: inline-block;
    height: 276px;
    margin-top: 0;
}

.slot-machine {
    position: relative;
}

.cabinet-content .card-block {
    margin: 0;
    max-width: 648px;
    padding: 15px 10px 16px 30px;
    width: 630px;
}

.cabinet-content .card-block .prize-block {
    color: #000000;
}

.cabinet-content .card-block .giftcards-info{
    margin-top: 25px;
    font-size: 17px;
    text-align: justify;
}

.cabinet-content .coupon-info {
    margin-top: 25px;
    font-size: 17px;
    text-align: justify;
    color: #000000;
}

.cabinet-content .card-block .card-info {
    float: right;
    font-size: 17px;
    text-align: justify;
    width: 210px;
}

.cabinet-content .card-block .prize-block .count {
    float: left;
    margin-left: 20px;
    width: 126px;
}

.cabinet-content .card-block .card-image img {
    border: 4px solid #FF7113;
    border-radius: 10px;
    height: 143px;
    width: 243px;
}

.cabinet-content .card-block .prize-block .count span {
    background: #FBEBCA;
    border: 4px solid #FF7113;
    color: rgb(64, 32, 0);
    float: left;
    font-size: 37px;
    height: 46px;
    margin-left: 0;
    margin-top: 10px;
    padding-top: 3px;
    position: relative;
    text-align: center;
    width: 100%;
}
.cabinet-content .get-button {
    background-color: #ffa611;
    background-image: none;
    border-left: 1px solid #ffffff;
    border-radius: 1px 0 0 1px;
    border-right: 2px solid #ab4507;
    border-top: 1px solid #ffffff;
    color: rgb(64, 32, 0);
    font-family: "bebas_neue_cyrillicregular",Myriad Pro,Arial,Helvetica,sans-serif;
    font-size: 25px;
    height: 50px;
    line-height: 50px;
    margin: 0;
    outline: medium none;
    padding: 0 20px;
    position: relative;
    text-align: center;
    text-indent: 0;
    text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.67);
    text-transform: uppercase;
    width: auto;
}

.cabinet-content .get-button.disabled-button {
    background: #CCCCCC;
}

.globalWrapper .registration-popup {
    display: none;
    left: 50% !important;
    margin-left: -160px;
    position: absolute;
    top: 20%;
    width: 320px;
    z-index: 999;
    background: url('/img/main_new/popup_bg.png');
}
.globalWrapper .registration-popup .head-block {
    background: none;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding: 25px 0 3px;
}
.globalWrapper .registration-popup .head-block p {
    color: #e47a2c;
    font-family: Myriad Pro, sans-serif;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
}

.globalWrapper .registration-popup .head-block .close-button {
    background: url("/img/main_new/close-popup-button.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    cursor: pointer;
    display: block;
    height: 30px;
    position: absolute;
    right: -15px;
    top: -10px;
    width: 30px;
}

.globalWrapper .registration-popup .cont-block {
    box-shadow: none;
    padding-top: 30px;
    background: none;
    border: none;
    border-radius: 0;
}

.globalWrapper .registration-popup .button-wrap {
    border-top: none;
    margin: 0 auto;
    padding: 0;
}

.globalWrapper .registration-popup .button-wrap button {
    background-color: #ffa611;
    background-image: none;
    border-left: 1px solid #ffffff;
    border-radius: 1px 0 0 1px;
    border-right: 2px solid #ab4507;
    border-top: 1px solid #ffffff;
    color: rgb(64, 32, 0);
    font-family: "bebas_neue_cyrillicregular",Myriad Pro,Arial,Helvetica,sans-serif;
    font-size: 34px;
    height: 50px;
    line-height: 50px;
    margin: 0px 33px 20px;
    outline: medium none;
    padding: 0 20px;
    position: relative;
    text-align: center;
    text-indent: 0;
    text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.67);
    text-transform: uppercase;
    width: auto;
}

.globalWrapper .registration-popup .cont-block a {

}

.globalWrapper .registration-popup .cont-block form input {
    background: #F7F7F7; /* Old browsers */
    background: -moz-linear-gradient(top, #F7F7F7 0%, #ADABAC 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #F7F7F7), color-stop(100%, #ADABAC)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #F7F7F7 0%, #ADABAC 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #F7F7F7 0%, #ADABAC 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #F7F7F7 0%, #ADABAC 100%); /* IE10+ */
    background: linear-gradient(to bottom, #F7F7F7 0%, #ADABAC 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#F7F7F7', endColorstr='#ADABAC', GradientType=0); /* IE6-9 */
    border: medium none;
    box-shadow: -2px 3px 2px 1px #aaaaaa inset;
    height: 33px;
    width: 94%;
    margin-bottom: 30px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 24px;
    border-radius: 0;
}

.globalWrapper .registration-popup .cont-block form {
    width: 87%;
    margin: 0 auto;
    position: relative;
}

.globalWrapper .registration-popup .error-message {
    font-size: 17px;
    font-style: normal;
    margin-bottom: 6px;
    position: absolute;
    right: 33px;
    text-align: center;
    top: -23px;
    width: auto;
    font-family: Myriad Pro, sans-serif;
}

.x-mult {
    text-transform: lowercase;
    position: relative;
    bottom: 4px;

}

.cabinet-content .coupons-wrap {
    padding: 10px 10px;
    width: 660px;
}

.globalWrapper .result-popup {
    display: none;
    left: 50% !important;
    margin-left: -160px;
    position: absolute;
    top: 20%;
    width: 320px;
    z-index: 999;
    background: url('/img/main_new/popup_bg.png');
}
.globalWrapper .result-popup .head-block {
    background: none;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding: 25px 0 3px;
}
.globalWrapper .result-popup .head-block p {
    color: #e47a2c;
    font-family: Myriad Pro, sans-serif;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
}
.globalWrapper .result-popup .head-block .close-button {
    background: url("/img/main_new/close-popup-button.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    cursor: pointer;
    display: block;
    height: 30px;
    position: absolute;
    right: -15px;
    top: -10px;
    width: 30px;
}
.globalWrapper .result-popup .cont-block {
    box-shadow: none;
    padding-top: 30px;
    background: none;
    border: none;
    border-radius: 0;
}
.globalWrapper .result-popup .button-wrap button {
    background-color: #ffa611;
    background-image: none;
    border-left: 1px solid #ffffff;
    border-radius: 1px 0 0 1px;
    border-right: 2px solid #ab4507;
    border-top: 1px solid #ffffff;
    color: rgb(64, 32, 0);
    font-family: "bebas_neue_cyrillicregular",Myriad Pro,Arial,Helvetica,sans-serif;
    font-size: 34px;
    height: 50px;
    line-height: 50px;
    margin: 0px 33px 20px;
    outline: medium none;
    padding: 0 20px;
    position: relative;
    text-align: center;
    text-indent: 0;
    text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.67);
    text-transform: uppercase;
    width: auto;
}
.globalWrapper .result-popup .cont-block form input {
    background: #F7F7F7; /* Old browsers */
    background: -moz-linear-gradient(top, #F7F7F7 0%, #ADABAC 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #F7F7F7), color-stop(100%, #ADABAC)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #F7F7F7 0%, #ADABAC 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #F7F7F7 0%, #ADABAC 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #F7F7F7 0%, #ADABAC 100%); /* IE10+ */
    background: linear-gradient(to bottom, #F7F7F7 0%, #ADABAC 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#F7F7F7', endColorstr='#ADABAC', GradientType=0); /* IE6-9 */
    border: medium none;
    box-shadow: -2px 3px 2px 1px #aaaaaa inset;
    height: 33px;
    width: 94%;
    margin-bottom: 30px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 24px;
    border-radius: 0;
}
.globalWrapper .result-popup .cont-block form {
    width: 70%;
    margin: 0 auto;
    position: relative;
}
.globalWrapper .result-popup .error-message {
    font-size: 17px;
    font-style: normal;
    margin-bottom: 6px;
    position: absolute;
    right: 33px;
    text-align: center;
    top: -23px;
    width: auto;
    font-family: Myriad Pro, sans-serif;
}

.wallet-logo {
    float: right;
    margin-right: 81px;
    padding-top: 5px;
}
.wallet-logo img{
    width: 39px;
}

.rub-symbol {
    background: url("/img/main_new/auction/auction_sprite.png") no-repeat scroll -255px -138px rgba(0, 0, 0, 0);
    display: inline-block;
    height: 25px;
    margin-left: 2px;
    position: relative;
    top: 4px;
    width: 14px;
}

.rate-input {
    margin-left: 7px;
}